body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

input[type="number"] {
  width: 200px;
}

button {
  display: block;
  margin: 10px auto;
}
